PORT=5000
NODE_ENV=development

# NASA API
NASA_API_KEY=DEMO_KEY
NASA_API_URL=https://api.nasa.gov/planetary/apod
SIMBAD_BASE_URL=https://simbad.u-strasbg.fr/simbad/sim-basic

# Storage
REDIS_URL=redis://localhost:6379
MONGO_URI=mongodb://localhost:27017/space_image_of_the_day

# Security
ALLOWED_ORIGINS=http://localhost:3000,https://space-image-of-the-day.example.com
